{% extends "layout.html" %}

{% block title %}
Add Measurement
{% endblock %}

{% block main %}
<!--
TODO: Allow users to choose whether to work in imperial or metric
-->
<section class="section">
  <form action="/add-measurement/{{ session['system'] }}" method="post" class="container column is-half">
    {{ form.csrf_token }}
    <fieldset class="field">
      {{ form.date.label(class="label") }}
      <p class="control has-icons-left">
        {{ form.date(class="input") }}
        <span class="icon is-small is-left">
          <i class="fas fa-calendar"></i>
        </span>
      </p>
      {% if form.date.errors %}
      <ul class="errors">
        {% for error in form.date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>
    <fieldset class="field">
      {{ form.height.label(class="label") }}
      <p class="control has-icons-left">
        {{ form.height(class="input") }}
        <span class="icon is-small is-left">
          <i class="fas fa-ruler-vertical"></i>
          <i class="fas fa-person"></i>
        </span>
      </p>
      {% if form.height.errors %}
      <ul class="errors">
        {% for error in form.height.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>
    <fieldset class="field">
      {{ form.weight.label(class="label") }}
      <p class="control has-icons-left">
        {{ form.weight(class="input is-normal") }}
        <span class="icon is-small is-left">
          <i class="fas fa-weight-scale"></i>
        </span>
      </p>
      {% if form.weight.errors %}
      <ul class="errors">
        {% for error in form.weight.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>
    {{ form.submit(class="button is-primary") }}
  </form>
  <div class="container column is-half">
    {% if session['system'] == 'imperial' %}
    <a href="{{ url_for('charts.add_measurement', system='metric') }}">Switch to Metric</a>
    {% else %}
    <a href="{{ url_for('charts.add_measurement', system='imperial') }}">Switch to Imperial</a>
    {% endif %}
  </div>
</section>
{% endblock %}