{% extends "layout.html" %}

{% block title %}
Add Measurement
{% endblock %}

{% block main %}
<!--
TODO: Allow users to pick date rather than generate it for today
TODO: Allow users to choose weather to work in imperial or metric
-->
<form action="/add-measurement" method="post">
  {{ form.csrf_token }}
  <fieldset class="form-field">
    {{ form.date.label }}
    {{ form.date }}
    {% if form.date.errors %}
    <ul class="errors">
      {% for error in form.date.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>
  <fieldset class="form-field">
    {{ form.height.label }}
    {{ form.height }}
    {% if form.height.errors %}
    <ul class="errors">
      {% for error in form.height.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>
  <fieldset class="form-field">
    {{ form.weight.label }}
    {{ form.weight }}
    {% if form.weight.errors %}
    <ul class="errors">
      {% for error in form.weight.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>
  {{ form.submit }}
</form>
{% endblock %}